.app {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  .app-topbar {
    height: 56px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
  .app-container {
    bottom: 0;
    height: calc(100% - 56px);
    left: 0;
    position: absolute;
    right: 0;
    top: 56px;
    .app-sidenav {
      width: 280px;
    }
    .app-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      .app-content-outlet {
        width: 100%;
      }
    }
  }
}